<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Book-Store</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/home">Home</a></li>
				<li><a href="available-books">Collection</a></li>
				<li><a href="my-collection">My Collection</a></li>
				<li><a href="book-register">Register new book</a></li>
				<li><a href="#">About</a></li>

			</ul>
		</div>
	</nav>
	<div class="container my-5 p-5" style="border: 1px solid back;"
		align="center">
		<form class="col-md-4 offset-md-4" th:action="@{/savebook}" method="post">
		 <h4>Register new book</h4>
			<div class="mb-3">
				<label for="bookName" class="form-label">Enter Book Name</label> <input
					type="text" class="form-control" name="bookName">
			</div>

			<div class="mb-3">
				<label for="authorName" class="form-label">Enter Author Name</label>
				<input type="text" class="form-control" name="authorName">
			</div>

			<div class="mb-3">
				<label for="bookPrice" class="form-label">Enter Price of
					Book </label> <input type="text" class="form-control" name="bookPrice">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>
